.infoCardCol {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    overflow: auto;
}

.CountyInfoCard {
    background-color: #f9eed8;
    padding: 15px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.country-name {
    font-size: 28px;
    font-weight: bold;
    color: rgb(139, 0, 0);
    margin-bottom: 10px;
}

ul {
    color: rgb(0, 0, 139);
    list-style-type: none;
    padding: 0;
    padding-left: 1.5em;
}

ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

ul li:before {
    content: '\2022';
    color: rgb(0, 0, 139);
    font-size: 1.5em;
    margin-right: 0.5em;
}

ul li strong {
    font-weight: bold;
    margin-right: 0.5em;
}